$v-background-color: hsl(0, 0, 99.5%);
$v-app-background-color: #fff;
$v-focus-color: #bbb;
$v-focus-style: 0 0 0 0 transparent;
$v-border: 1px solid (v-shade 0.6);
$v-border-radius: 0px;
$v-bevel: inset 0 1px 0 v-tint;
$v-textfield-bevel: false;
$v-gradient: v-linear 3%;
$v-shadow: false;
$valo-menu-background-color: hsl(218, 20%, 98%);
$v-friendly-color: hsl(163, 61%, 41%);
$v-error-indicator-color: hsl(349, 66%, 56%);
$v-font-family: arial, sans-serif;

@import "../valo/valo.scss";
@import "header";

@mixin default {
  @include valo;
  @include header;

  .logcontent {
    padding: 5px;
    width: auto !important;
    white-space: nowrap;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 14px;
    color: black;
  }

  .error{
    background-color: red;
    color: white;
  }

  .warning{
    background-color: yellow;
    color: black;
  }

  .content-common,
  .content-labels {
  	max-width: 800px;
  }

  .v-menubar{
	background-image: none;
	background-color: #e6e6e6;
	border: none 0px;
	.v-menubar-menuitem {
		border: none 0px;
	}

	.v-menubar-menuitem:hover{
    background-color: #bbb;
    border: medium none;

	}
	.v-menubar-menuitem:active::before {
    background-color: rgba(127, 127, 127, 0.2);
	}

	.v-menubar-menuitem-checked {
        border: 1px inset black !important;
    }

  }

    .v-tabsheet-tabcontainer::before {
      border-top: 1px solid #bbb;
    }

    .v-tabsheet-framed  > .v-tabsheet-tabcontainer .v-tabsheet-tabitem-selected .v-caption {
      border-color: #bbb;
      color: #000;
      background-color: #fff !important;
    }

    .v-tabsheet-framed  > .v-tabsheet-tabcontainer .v-tabsheet-tabitem .v-caption {
        border-color: #bbb;
        color: #000;
        background-color: #e6e6e6;
    }


}


